@{
    ViewData["Title"] = "Member Company List";
}

<div class="text-left flex-row d-flex justify-content-between align-items-center">
    <h1 class="p-2 display-4">Member Companies</h1>
    <div class="p-2">
        <a asp-area="" asp-controller="Home" asp-action="AddNewMemberCompany">
            <button type="button" class="btn btn-link">
                Add New Company
            </button>
        </a>
    </div>
</div>