<div class="text-left">
    <h1 class="p-2 display-4">Login</h1>
    <form asp-action="Login" method="post">
        <div class="row p-2">
            <div class="col">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>
            <div class="col">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="p-2 mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>